.form_label{
    font-size: 20px;
    font-weight: 550;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.form_input{
    color: #026600;
    background-color: transparent;
    border-color: rgb(220, 218, 218);
    width: 200px;
    padding: 7px;
}