.form{
display: flex;
flex-direction: column;
gap: 5px;
}
.form_label{
    margin-bottom: 10px;
}
.form_input{
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 10px;
    max-width: 490px;
    width: 490px;
    height: 20px;

}
.form_btn{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #4cb051;
    color: #ffffff;
    border: none;
    font-size: 25px;
}