.modal{
    display: flex;
    flex-direction: column;
    border-radius:10px;
    width: 500px;
    height: 350px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal_title{
    padding: 0px;
    margin: 0px;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}